---
import Layout from '@/layouts/Layout.astro';
import Horarios from '@/components/Horarios.astro';
import Ubicaciones from '@/components/Ubicaciones.astro';
import TiempoRestante from '@/components/TiempoRestante.astro';
import Asistencia from '@/components/Asistencia.astro';
import Mensaje from '@/components/Mensaje.astro';

import Cross from "@/icons/Cross.astro";
---

<Layout>
	<main class="w-[90%] max-w-5xl mx-auto py-6 space-y-10">
		<h1 class="flex flex-col gap-6 text-center text-2xl">			
			<span class="flex gap-4 justify-center"><Cross />Primera comunión y confirmación de <Cross /></span>
			<span class="text-pink-500 font-bold text-4xl">Kimberly Cataleya Martínez Robles</span>
		</h1>

		<img src="/cruz.webp" alt="" class="mx-auto my-16" />

		<!-- TODO -->
		<Horarios />

		<!-- TODO -->
		<Ubicaciones />

		<TiempoRestante />

		<Asistencia />
		
		<Mensaje />
	</main>
</Layout>

<style>
	body{
		background-color: var(--color-slate-100);
	}
</style>
