---
import Layout from '@/layouts/Layout.astro';
import FotoPresentacion from '@/components/FotoPresentacion.astro';
import Fecha from '@/components/Fecha.astro';
import Ubicaciones from '@/components/Ubicaciones.astro';
import TiempoRestante from '@/components/TiempoRestante.astro';
import Asistencia from '@/components/Asistencia.astro';
import Mensaje from '@/components/Mensaje.astro';

import Cross from "@/icons/Cross.astro";

export const prerender = true;
---

<Layout>
	<header class="pt-10">
		<h1 class="w-[90%] max-w-5xl mx-auto flex flex-col gap-6 text-center text-2xl">			
			<span class="flex gap-4 justify-center items-center">
				<Cross class="shrink-0" />
				<span>Te invito a mi <span class="text-sky-500 font-bold">primera comunión</span> y <span class="text-amber-500 font-bold">confirmación</span></span>
				<Cross class="shrink-0" />
			</span>
		</h1>
		
		<FotoPresentacion />

		<Fecha />
	</header>

	<main class="w-[90%] max-w-5xl mx-auto py-6 space-y-10">
		<Ubicaciones />

		<TiempoRestante />

		<Asistencia />
		
		<Mensaje />
	</main>
</Layout>

<style>
	body{
		background-color: var(--color-slate-100);
	}
</style>
