---
import Resta from "@/icons/Resta.astro";
import Suma from "@/icons/Suma.astro";
---

<form id="form-asistencia" class="max-w-fit mx-auto flex flex-col justify-center items-center gap-4 p-8 rounded-md bg-white shadow-md">
    <h2 class="text-lg">Confirmar asistencia a la fiesta</h2>
    <div class="w-full flex flex-col 2xs:flex-row gap-2">
        <button type="button" id="btnMenos" class="flex justify-center items-center w-full bg-amber-500 hover:bg-amber-600 text-white size-10 rounded-md"><Resta /></button>
        <input id="inputAsistencia" type="number" id="asistencia" name="asistencia" min="1" max="5" value="1" class="w-full size-10 outline-none border-2 rounded-md text-center" />
        <button type="button" id="btnMas" class="flex justify-center items-center w-full bg-amber-500 hover:bg-amber-600 text-white size-10 rounded-md"><Suma /></button>
    </div>
    <button type="submit" class="w-full bg-amber-500 hover:bg-amber-600 text-white py-2 px-8 rounded-md">Enviar</button>
</form>

<div class="mensaje-gracias hidden flex-col gap-2 justify-center items-center bg-amber-100 p-8 rounded-md shadow-md">
    <p class="text-3xl text-amber-600 font-bold">¡Gracias por confirmar tu asistencia!</p>
    <p class="text-lg text-gray-500">¡Nos vemos pronto!</p>
</div>

<script>
    import { enviarAsistencia } from "@/firebase";
    import { showToast } from "@/lib/toast";

    const form = document.getElementById('form-asistencia') as HTMLFormElement;
    const btnMenos = document.getElementById('btnMenos') as HTMLButtonElement;
    const btnMas = document.getElementById('btnMas') as HTMLButtonElement;
    const inputAsistencia = document.getElementById('inputAsistencia') as HTMLInputElement;
    const mensajeGracias = document.querySelector('.mensaje-gracias') as HTMLDivElement;

    const min = parseInt(inputAsistencia.min);
    const max = parseInt(inputAsistencia.max);

    function mostrarMensajeGracias() {
        if (localStorage.getItem("asistencia") === "true") {
            // Si ya se ha confirmado la asistencia, mostrar mensaje de agradecimiento
            mensajeGracias.classList.remove('hidden');
            mensajeGracias.classList.add('flex');
            form.classList.add('hidden');
        }
    }

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // Comprobar si ya se ha confirmado la asistencia
        if(localStorage.getItem("asistencia") === "true"){
            form.reset();
            return showToast({
                mensaje: "Gracias por acompañarme, ya has confirmado tu asistencia.",
                tipo: "warning",
            });
        }

        const asistencia = inputAsistencia.value;
        /* TODO:
            Hacer funciones de firebase para enviar la asistencia
            1. Probar directamente en el frontend
            2. Hacer un endpoint para probar?
        */
        try{
            await enviarAsistencia(asistencia);
            console.log(`Asistencia: ${asistencia}`);

            showToast({
                mensaje: "Gracias por confirmar tu asistencia",
                tipo: "success",
            });

            form.reset();
            localStorage.setItem("asistencia", "true");
            mostrarMensajeGracias();
        } catch(error){
            showToast({
                mensaje: "Error al enviar la asistencia, por favor intenta de nuevo más tarde.",
                tipo: "error",
            });
        }
    });

    btnMenos.addEventListener('click', () => {
        let value = parseInt(inputAsistencia.value);
        if (value > min) {
            value--;
            inputAsistencia.value = value.toString();
        }
    });

    btnMas.addEventListener('click', () => {
        let value = parseInt(inputAsistencia.value);
        if (value < max) {
            value++;
            inputAsistencia.value = value.toString();
        }
    });

    window.addEventListener('load', () => {
        mostrarMensajeGracias();
    });
</script>

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>