<h2 class="text-center text-lg mb-4">¿Cuanto tiempo falta?</h2>
<div id="countdown" class="max-w-fit mx-auto grid grid-cols-1 place-items-center 2xs:grid-cols-2 xs:grid-cols-4 gap-4 overflow-clip has-[.iniciado]:bg-pink-100 rounded-md">
    <div class="grid grid-rows-[1fr_auto] size-25 bg-pink-300 rounded-md">
        <span id="temporizadorDias" class="flex font-bold text-black/80 justify-center items-center text-3xl py-2">0</span>
        <span style="--delay: 0s;" class="indicador w-full text-center rounded-b-md py-1 -bg-linear-60 from-pink-500 via-pink-400 to-pink-500">D</span>
    </div>
    <div class="grid grid-rows-[1fr_auto] size-25 bg-pink-300 rounded-md">
        <span id="temporizadorHoras" class="flex font-bold text-black/80 justify-center items-center text-3xl py-2">0</span>
        <span style="--delay: 1s;" class="indicador w-full text-center rounded-b-md py-1 -bg-linear-60 from-pink-500 via-pink-400 to-pink-500">H</span>
    </div>
    <div class="grid grid-rows-[1fr_auto] size-25 bg-pink-300 rounded-md">
        <span id="temporizadorMinutos" class="flex font-bold text-black/80 justify-center items-center text-3xl py-2">0</span>
        <span style="--delay: 2s;" class="indicador w-full text-center rounded-b-md py-1 -bg-linear-60 from-pink-500 via-pink-400 to-pink-500">M</span>
    </div>
    <div class="grid grid-rows-[1fr_auto] size-25 bg-pink-300 rounded-md">
        <span id="temporizadorSegundos" class="flex font-bold text-black/80 justify-center items-center text-3xl py-2">0</span>
        <span style="--delay: 3s;" class="indicador w-full text-center rounded-b-md py-1 -bg-linear-60 from-pink-500 via-pink-400 to-pink-500">S</span>
    </div>
</div>

<script>
    const targetDate = new Date('2025-06-28T12:00:00').getTime();
    const countdownElement = document.getElementById('countdown') as HTMLDivElement;

    const intervalo = setInterval(() => {
        const now = new Date().getTime();
        const distance = targetDate - now;

        // Cuenta atrás terminada
        if (distance < 0) {
            countdownElement.innerHTML = `
                <span class="iniciado text-pink-500 font-bold text-3xl my-10 whitespace-nowrap">¡Evento iniciado!</span>
                <span class="iniciado text-pink-500 font-bold text-3xl my-10 whitespace-nowrap">¡Evento iniciado!</span>
                <span class="iniciado text-pink-500 font-bold text-3xl my-10 whitespace-nowrap">¡Evento iniciado!</span>
                <span class="iniciado text-pink-500 font-bold text-3xl my-10 whitespace-nowrap">¡Evento iniciado!</span>
                <span class="iniciado text-pink-500 font-bold text-3xl my-10 whitespace-nowrap">¡Evento iniciado!</span>
                <span class="iniciado text-pink-500 font-bold text-3xl my-10 whitespace-nowrap">¡Evento iniciado!</span>
            `;
            clearInterval(intervalo);
            return;
        }

        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

        const temporizadorDias = document.getElementById('temporizadorDias') as HTMLSpanElement;
        const temporizadorHoras = document.getElementById('temporizadorHoras') as HTMLSpanElement;
        const temporizadorMinutos = document.getElementById('temporizadorMinutos') as HTMLSpanElement;
        const temporizadorSegundos = document.getElementById('temporizadorSegundos') as HTMLSpanElement;

        temporizadorDias.textContent = days.toString();
        temporizadorHoras.textContent = hours.toString().padStart(2, '0');
        temporizadorMinutos.textContent = minutes.toString().padStart(2, '0');
        temporizadorSegundos.textContent = seconds.toString().padStart(2, '0');
    }, 1000);
</script>

<style is:global>
    .iniciado {
        animation: move 4s linear infinite;
    }
    .indicador{
        position: relative;
        overflow: hidden;
    }
    .indicador::after{
        content: "";
        display: block;
        width: 20px;
        height: 100px;
        background: linear-gradient(90deg, rgb(255 255 255 / .1), rgb(255 255 255 / .2), rgb(255 255 255 / .1));
        transform: skewX(-20deg);
        position: absolute;
        bottom: 0;
        left: -60%;
        animation: indicador 10s var(--delay) linear infinite;
    }

    @keyframes indicador {
        0% {
            left: -60%;
        }
        10%, 100%{
            left: calc(130%);
        }
    }

    @keyframes move {
        100% {
            transform: translateX(calc(-100% - 16px));
        }
    }
</style>