---
const { class: className = "" } = Astro.props;
---

<div class:list={[
    "cerrado fixed top-2 left-1/2 -translate-x-1/2 w-[90%] max-w-sm bg-amber-100 text-lg rounded-md px-8 py-2",
    className
]}>
    Mensaje del toast
</div>

<style>
    div{
        transform: translateY(0);
        transition: transform 0.5s ease-in-out;
    }
    div.cerrado{
        transform: translateY(-120%);
        transition: transform 0.5s ease-in-out, background-color 0s 0.5s ease-in-out, color 0s 0.5s ease-in-out;
    }
    div.toast-success{
        background-color: #d1fae5;
        color: #065f46;
    }
    div.toast-error{
        background-color: #fee2e2;
        color: #991b1b;
    }
    div.toast-info{
        background-color: #dbf0ff;
        color: #1e3a8a;
    }
    div.toast-warning{
        background-color: #fefcbf;
        color: #92400e;
    }
</style>