---
import "../styles/global.css";
import '@fontsource/poppins';
import Toaster from "@/components/Toaster.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<title>Primera comunión y confirmación de Kimberly Cataleya Martínez Robles</title>
	</head>
	<body>
		<Toaster />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Poppins', sans-serif;
	}
</style>
